<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <aspNetCore>
      <environmentVariables>
        <!--https://github.com/aspnet/websdk/issues/1195#issuecomment-575659301-->

        <environmentVariable name="ASPNETCORE_ENVIRONMENT"
                             xdt:Locator="Match(name)"
                             xdt:Transform="Remove" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>