@model Post
@{
    ViewData["Title"] = Model.Title;
}

<div class="blogPost">
    <h1 class="text-center mt-4 mb-4">@Model.Title</h1>
    <br />
    <br />

    @Html.Raw(Model.Html)
</div>

@section Footer {
    <div class="share">
        <h5>Share this article</h5>
        <div class="share-facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u=@(Model.Permalink)" target="_blank">
                <img src="/images/f_logo_RGB-Hex-Blue_512.png" alt="Share on Facebook" />
            </a>
        </div>
        <div class="share-linkedin">
            <a href="https://www.linkedin.com/shareArticle?mini=true&url=@(Model.Permalink)&title=@(Model.Title)" target="_blank">
               <img src="/images/LI-In-Bug.png" alt="Share on LinkedIn" />
            </a>
        </div>
    </div>
    <hr/>
}
