

@import "../../node_modules/bootstrap/scss/bootstrap";


.post-list ul {
    list-style-type: none;
}

.sidebar, .blogPost, .nav-content {
    padding: 10px;
}

.sidebar-links ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    li {
        margin: 10px;
    }
}

.linkedin-logo {
    max-width: 210px;
    height: auto;
}