@model SearchRequest

<h4>Search</h4>
<div class="post-search-box">
    <form asp-controller="Search" asp-action="SearchRedirect">
        <div class="form-group">
            <input asp-for="Text" class="form-control" />
        </div>
        <input type="submit" class="btn btn-block" value="Search" />
    </form>
</div>