@model LoginRequest
@{
    ViewData["Title"] = "Login";
}

<div class="row">


    <form method="post" asp-controller="Account" asp-action="Login">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h3>Login</h3>

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="UsernameOrEmail"></label>
                <input asp-for="UsernameOrEmail" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
            </div>

            <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />

            <input type="submit" value="Login" class="btn-block" />
        </div>

    </form>
</div>
