@model LoginRequest
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form method="post" asp-controller="Admin" asp-action="Login">

    <div asp-validation-summary="ModelOnly"></div>

    <label asp-for="Username"></label>
    <input asp-for="Username" />

    <label asp-for="Password"></label>
    <input asp-for="Password" />

    <label asp-for="RememberMe"></label>
    <input asp-for="RememberMe" />

    <input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />

    <input type="submit" value="Login" />

</form>