
@{
    ViewData["Title"] = "Logout";
    Layout = "Layouts/_LoginLayout";
}

<h2>Logout?</h2>

<form asp-controller="Account" asp-action="ConfirmLogout">
    <div>
        <p>Confirm log out</p>
    </div>
    <input type="submit" value="Logout"/>
</form>