
@{
    ViewData["Title"] = "Sign Out";
    Layout = "Layouts/_SignInLayout";
}

<h2>Logged out</h2>
<p>
    You have successfully logged out.
    <br/>
    <a asp-controller="Home" asp-action="Index">Back to home page</a>
</p>

