
@{
    ViewData["Title"] = "Sign Out";
    Layout = "Layouts/_SignInLayout";
}


    <div class="signIn m-5 ">

        <h2 class="text-center m-3">Sign Out?</h2>


        <form asp-controller="Account" asp-action="ConfirmSignOut">
            <input type="submit" value="Logout" class="btn btn-block btn-outline-secondary" />
        </form>
    </div>