
@{
    ViewData["Title"] = "Sign Out";
    Layout = "Layouts/_SignInLayout";
}

<h2>Sign Out?</h2>

<form asp-controller="Account" asp-action="ConfirmSignOut">
    <div>
        <p>Confirm log out</p>
    </div>
    <input type="submit" value="Logout"/>
</form>