
@{
    ViewData["Title"] = "Not Found";
    Layout = "~/Views/Shared/Layouts/_DefaultLayout.cshtml";
}

    <div class="m-3 text-dark">
        <h3 class="font-weight-bolder">404</h3>
        <div>Page not found</div>
    </div>


