
@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/Layouts/_DefaultLayout.cshtml";
}

@model IEnumerable<SearchResult>

<div class="search-results">
    @if (!Model.Any())
    {
        <h3>No results available for your search</h3>
    }
    else
    {
        @foreach (var result in Model)
        {

            <h3>Search Results</h3>

            <div class="search-result">
                <div class="card">
                    <div class="card-header">
                        <a href="@result.Post.Permalink">@result.Post.Title</a>
                    </div>

                    <div class="card-body">

                        <p class="card-text">@result.SnapshotText</p>

                        <small class="text-secondary">@result.Post.CreationDate.ToString("d MMM yyyy")</small>

                    </div>
                </div>

                </div>
        }
    }
</div>