
@{
    ViewData["Title"] = "Search Results";
}

@model IEnumerable<SearchResult>

<div class="search-results">
    @if (!Model.Any())
    {
        <h3 class="text-center m-3">No results available for your search</h3>
    }
    else
    {
        @foreach (var result in Model)
        {

            <h3 class="text-center m-3">Search Results</h3>

            <div class="search-result">
                <div class="card">
                    <div class="card-header">
                        <a href="@result.Post.Path">@result.Post.Title</a>
                    </div>

                    <div class="card-body">

                        <p class="card-text">@result.SnapshotText</p>

                        <small class="text-secondary">@result.Post.CreationDate.ToString("d MMM yyyy")</small>

                    </div>
                </div>

                </div>
        }
    }
</div>