
@{
    ViewData["Title"] = "SearchResults";
    Layout = "~/Views/Shared/Layouts/_DefaultLayout.cshtml";
}

@model IEnumerable<SearchResult>

@if (!Model.Any())
{
    <h3>No results available for your search</h3>
}
else
{
    @foreach (var result in Model)
    {

        <h3>Search Results</h3>

        <div class="search-result">

            <h4>
                <small>@result.Post.CreationDate.ToString("dd MMM yyyy")</small>
                <br />
                @result.Post.Title
            </h4>
            <p>@result.SnapshotText</p>
        </div>
    }
}