<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mike's Blog - @ViewData["Title"]</title>

    <environment include="Development">

        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>

    @Html.Partial("_DefaultScripts")

    @RenderSection("Scripts", required: false)
</body>
</html>
