<!DOCTYPE html>
<html>
<head>
    @Html.PartialAsync("_DefaultHead")
</head>
<body>
    <div class="container body-content">
        <div class="row">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </div>
    </div>

    @Html.PartialAsync("_DefaultScripts")

    @RenderSection("Scripts", required: false)
</body>
</html>
