<nav class="navbar navbar-expand-sm navbar-light bg-light">

        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Solores Software</a>

        <div class="navbar-collapse collapse">
            <environment include="Development">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a asp-controller="Admin" asp-action="Index">Admin</a>
                    </li>
                </ul>
            </environment>
        </div>
</nav>