<div class="sidebar">
    @await Component.InvokeAsync("BlogPostList")
    <hr />
    @await Component.InvokeAsync("BlogPostSearchBox")
    <hr />
    <div class="sidebar-links">
        <ul>
            <li>
                <a href="https://stackoverflow.com/users/3910619/zola25"><img src="https://stackoverflow.com/users/flair/3910619.png?theme=clean" width="208" height="58" alt="profile for zola25 at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for zola25 at Stack Overflow, Q&amp;A for professional and enthusiast programmers"></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/mike-towill-b54ab21b"><img class="linkedin-logo" src="/images/LI-Logo.png" /></a>
            </li>
        </ul>
    </div>

</div>