<div class="sideBar">
    @await Component.InvokeAsync("BlogPostList")
    @await Component.InvokeAsync("BlogPostSearchBox")
    <h3>
        Links
    </h3>
    <ul>
        <li>
            <a href="https://stackoverflow.com/users/3910619/zola25?tab=profile">Stack Overflow</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/mike-towill-b54ab21b">LinkedIn</a>
        </li>
    </ul>

</div>