@{
    ViewData["Title"] = "Admin";
}

@model Admin

@await Component.InvokeAsync("SelectPosts", Model.PostId)

<hr />

<div class="admin-edit-post-container">
    @await Component.InvokeAsync("EditPostForm", Model.PostId)
</div>
@section scripts {

    <environment include="Development">
        <script src="~/js/editPostForm.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/editPostForm.min.js" asp-append-version="true"></script>
    </environment>
}