
@model NewPost

<form method="post" asp-action="Admin" asp-controller="Blog">
    <div class="form-group">
        <p asp-validation-for="Title"></p>
        <label for="Title">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
    </div>
    <div class="form-group">
        <p asp-validation-for="Permalink"></p>
        <label for="Permalink">Permalink</label>
        <input asp-for="Permalink" class="form-control" placeholder="permalink">
    </div>
    <div class="form-group">
        <p asp-validation-for="Html"></p>
        <label for="Html">Content</label>
        <textarea asp-for="Html"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>



@section Scripts
{
    <script>tinymce.init({
            selector: 'textarea',
            plugins: "preview code"
        });</script>
}