@model EditablePost


    <form id="admin-edit-post-form"
          data-ajax="true"
          data-ajax-method="POST"
          data-ajax-url="/admin/post/@Model.PostId"
          data-ajax-begin="editPostForm.begin"
          data-ajax-success="editPostForm.success"
          data-ajax-failure="editPostForm.failure">

        <input asp-for="PostId" type="hidden" />
        <div class="form-group">
            <label asp-for="Title" class="font-weight-bold">Title</label>
            <input asp-for="Title" class="form-control" placeholder="Title">
            <span asp-validation-for="Title" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="CreationDate" class="font-weight-bold">Creation Date</label>
            <input asp-for="CreationDate" class="form-control" placeholder="Title">
            <span asp-validation-for="CreationDate" class="text-warning"></span>

        </div>

        <div class="form-group">
            <label asp-for="UrlSegment" class="font-weight-bold">URL Segment</label>
            <input asp-for="UrlSegment" class="form-control" placeholder="URL segment">
            <span asp-validation-for="UrlSegment" class="text-warning"></span>
        </div>
        <div class="form-group">
            <label asp-for="Html" class="font-weight-bold">Content</label>
            <textarea id="admin-edit-post-html" asp-for="Html"></textarea>
            <span asp-validation-for="Html" class="text-warning"></span>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-outline-secondary">@(Model.PostId == 0 ? "Create" : "Submit Changes")</button>
            <button type="button" class="btn btn-outline-danger admin-delete-post" style="@(Model.PostId == 0 ? "display: none;" : null)">Delete</button>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="admin-edit-post-result" style="display: none;">

        </div>
    </form>

<div class="modal admin-delete-post-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete this post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger admin-delete-post-confirm">Delete</button>
                <button type="button" class="btn btn-secondary admin-delete-post-cancel" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal admin-delete-post-success-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Post Deleted</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary admin-delete-post-success-confirm">Ok</button>
            </div>
        </div>
    </div>
</div>
